{{define "index"}}
{{template "header" .}}
<div class="content">
	<div class="container">
		<div class="col-md-12 mb-4">
			<h2>PTouch Web</h2>
			{{if .connected}}
			<p class="alert alert-success">Printer is connected!</p>
			{{if .status}}
			<table class="table alert-success">
				<tr><td>MediaType</td><td>{{.status.MediaType}}</td></tr>
				<tr><td>TapeColor</td><td>{{.status.TapeColor}}</td></tr>
				<tr><td>TapeWidth</td><td>{{.status.TapeWidth}}</td></tr>
			</table>
			{{end}}
			{{else}}
				<p class="alert alert-warning">Printer did not connect! Tape width set to font width</p>
			{{end}}
			{{if .err}}
				<p class="alert alert-warning" role="alert">{{.err}}</p>
			{{end}}
			<img src="/img/out.png" class="border"/> <br><br>
			<form class="" action="/" method="get">
				<div class="mb-1">
					<label class="form-label" for="label">Label:</label>
					<input class="form-control" type="text" id="label" name="label" value="{{.label}}">
				</div>
				<div class="mb-1">
					<label class="form-label" for="count">Copies:</label>
					<input class="form-control" type="number" id="count" name="count" value="{{.count}}">
				</div>
				<div class="mb-1">
						<label class="form-label" for="fontsize">Fontsize:</label>
						<input class="form-control" type="number" id="fontsize" name="fontsize" value="{{.fontsize}}">
				</div>
				<div class="mb-1">
					<label class="form-label" for="chain">Chain:</label>
					<input class="form-check-input" type="checkbox" id="chain" name="chain" value="checked" {{if .chain}} checked {{end}}>
				</div>
				<input type="submit"  class="btn btn-primary" value="Preview">
				<button type="submit" formaction="/print" class="btn btn-primary">Print</button>
			</form>
		</div>
	</div>
</div>
{{template "footer" .}}
{{end}}